<h2>This is the Home page.</h2>
<small>Welcome! — input your City, State here for a Weather forecast.</small>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>Forecast By City</h4>
    <div class="form-group">
      <!-- <input type="text" class="form-control" placeholder="Input City Name Only Here." ng-model="city" /> -->
      <input type="text" class="form-control" ng-model="city" ng-keyup="$event.keyCode == 13 && goToForecast()" />
    </div>
    <a href="#/forecast" class="btn btn-primary">Get the Forecast!</a>
  </div>
</div>
